.navbar.bg-dark.p-2.shadow.text-white.mb-2
	.container-fluid.container
		h2 Comparateur de prix
		p Placeholder
		.h-16.w-16
			.avatar
				.mask.mask-squircle
					img.mask-squircle.mask(src='https://api.lorem.space/image/face?hash=33791')

